.footer {
  background: #DC2626;
  padding: var(--spacing-3xl) 0;
  text-align: center;
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.branding {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: var(--spacing-md);
}

.poweredBy {
  font-size: var(--font-size-xs);
  color: #D1D5DB;
  text-align: left;
}

.poweredBy strong {
    font-size : var(--font-size-lg);
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 4px;
  border-radius: 4px;
}

.description {
  font-size: var(--font-size-sm);
  color: #D1D5DB;
  max-width: 800px;
  font-weight: 700;
  margin: 0 auto var(--spacing-lg);
  line-height: 1.6;
}

.copyright {
  font-size: var(--font-size-xs);
  color: #D1D5DB;
  margin: 0;
}

@media (max-width: 768px) {
  .footer {
    padding: var(--spacing-xl) 0;
  }
  
  .description {
    font-size: var(--font-size-xs);
  }
}
